{
    маржа :  0 ;
    отступ :  0 ;
    размер коробки : рамка-рамка;
}
body {
    высота :  60 В.Х. ;
    дисплей : гибкий;
    align-items : center;
    justify-content : center;
    семейство шрифтов : Verdana , без засечек;
}
form {
    дисплей : гибкий;
    flex-direction : столбец;
    ширина :  400 пикселей ;
}
input {
    поле :  6 пикселей  0 ;
    отступ :  6 пикселей ;
    граница : не задана;
    нижняя граница :  сплошная 2 пикселя # e3e3e3 ;
    наброски : нет;
}
button {
    отступ :  6 пикселей ;
    фон :  # e3e3e3 ;
    граница : не задана;
    радиус границы :  9 пикселей ;
    курсор : указатель;
}
. msg {
    поле :  2 пикселя  0 ;
    граница :  сплошная 2 пикселя # e3e3e3 ;
    радиус границы :  9 пикселей ;
    отступ :  6 пикселей ;
}
